body {
    background-color: #fff;
    color: #4d4d4d;
}

/* NavBar */
.title {
    font-size: 36px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.35em;  
    display: inline-block;
    color: rgba(0,0,0,.99);
}
.nav-item {
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .2em;
}
.navbar-light .navbar-toggler {
    border-color: #fff;
}

/* Card */
.card-title, .card-subtitle {
    color: #7a002f;
    text-transform: none;
    font-size: 50px;
}
.card-title {
    letter-spacing: 0.05em;
    margin-bottom: 0;
}
.card-subtitle {
    font-weight: 300;
}

/* Fine */
.list-group-item {
    border: none;
    margin-left: 0;
    margin-right: 0;
    border-left: 1px solid #e6e6e6;
    padding-left: 1.618em;
    padding-top: 0;
    padding-bottom: 0;
}
.tilte-experience {
    font-style: normal;
    font-size: 16px!important;
    font-weight: bold!important;
    letter-spacing: .025em;
    line-height: 1.8em;
    text-transform: none;
    color: #484848;
}
.section-title {
    font-weight: 400;
}
ul {
    padding-inline-start: 30px;
    line-height: 35px;
}
@media screen and (max-width: 992px) {
    /* NavBar */
    .title {
        font-size: 32px;
        letter-spacing: 0.15em;  
    }
    .navbar {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        background-color: rgb(242, 242, 242);
    }
    .navbar-light .navbar-toggler {
        border-color: rgb(242, 242, 242);
    }
    .container-lg {
        padding-bottom: 0!important;
        padding-top: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    
    .card {
        max-width: 90%;
        margin: auto;
    }
    hr {
        width: 90%;
    }
    .list-group {
        max-width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 26px;
        letter-spacing: 0.15em;  
    }
    .navbar {
        padding-right: 1.75rem;
        padding-left: 1.75rem;
    }
    .card-title, .card-subtitle{
        font-size: 32px;
    }    
}
@media screen and (max-width: 576px) {
    .title {
        font-size: 22px;
        letter-spacing: 0.15em;
    }
    .navbar {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .card-title, .card-subtitle{
        font-size: 26px;
    }
    .card {
        max-width: 100%;
        margin: auto;
    }
    .list-group {
        padding: 0 20px;
        max-width: 90%;
        margin: auto;
    }
    hr {
        width: 88%;
    }
}