/* NavBar */
.title {
    color: rgba(0,0,0,.99);
}
.card-title, .card-subtitle {
    color: #7a002f;
}





@media screen and (max-width: 768px) {
    .card-title, .card-subtitle{
        font-size: 32px;
    }    
}
@media screen and (max-width: 576px) {
    .card-title, .card-subtitle{
        font-size: 26px;
    }
}