/* navbar */
.navbar-container {
    background-color: #fff;
    color: #4d4d4d;
}

/* footer */
.footer {
    background-color: rgb(242, 242, 242);
    color: #4d4d4d;
}
.contact-icon a {
    color: #000;
}
.contact-item-hover {
    color: #575757!important;
}

/* media query */

/* large tablet */
@media screen and (max-width: 992px) {
    /* navbar */
    .navbar-container,  .navbar-light .navbar-toggler {
        background-color: rgb(242, 242, 242);
        border-color: rgb(242, 242, 242);
    }
    /* fixed-top */
    .navbar-fix {
        background-color: rgb(242, 242, 242);
        border-color: rgb(242, 242, 242);
    }
}
/* tablet */
@media screen and (max-width: 768px) {

}
/* smartphone */
@media screen and (max-width: 576px) {

}
/* small smartphone */
@media screen and (max-width: 343px) {

}
