/* ------------------- full page ------------------- */
body {
    background-color: #2d2d2d!important;
    color: #fff!important;
}


/* ------------------- navbar ------------------- */
.navbar-container {
    background-color: #2d2d2d!important;
    color: #fff!important;
}
/* menu on desktop, subtitle */
.navbar-light .navbar-nav .nav-link, .navbar-subtitle {
    color: rgba(255, 255, 255, .5)!important;
}
/* name, home link */
.navbar-light .navbar-brand, .navbar-light .navbar-nav .active>.nav-link {
    color: rgba(255, 255, 255, .9)!important;
}
/* full-page-menu */
.overlay {
    background-color: #363636;
}
.overlay a{
    color: rgba(255, 255, 255, .8)!important;
}


/* ------------------- body ------------------- */
.section-title {
    color: #fff!important;
}

/* ------- separate line between sections ------- */
.break-sections hr {
    color: #b2b2b2;
    background-color: #b2b2b2;
}

/* ------- about me ------- */
.aboutme {
    background-color: #2d2d2d;
}
.aboutme-div {
    color: #fff;
}
/* title and description */
.aboutme-text {
    color: #f2f2f2;
}

/* ------- experiences, education, languages and tools, hobbies ------- */
.experiences-subtitle,  .education-subtitle, .languages-subtitle {
    color: #fff;
}
.experiences-list-item, .languages-list li p, .tools-div p, .hobbies-name {
    color: #f0f0f0;
    background-color: #2d2d2d;
    border-color: #b2b2b2!important;
}
.experiences-list-item p a, .education-section a {
    color: #f9f9f9;
    border-bottom-color: rgba(249, 249, 249,.3);
}
.experiences-list-item p a:hover, .education-section a:hover {
    color: rgba(249, 249, 249,.6);
    border-color: rgba(249, 249, 249,.15);
}
.experiences-date, .education-date {
    color: #efefefcb!important;
}


/* ------------------- footer ------------------- */
.footer {
    background-color: #363636;
    color: rgba(255, 255, 255, .9)!important;
}
/* contanct links */
.contact-icon a {
    color: rgba(255, 255, 255, .8);
}
.contact-item-hover {
    color: rgba(255, 255, 255, 0.3)!important;
}


/* ------------------- media query ------------------- */
/* large tablet */
@media screen and (max-width: 992px) {
/* ------------------- navbar ------------------- */
    /* navbar, mobile button */
    .navbar-container,  .navbar-light .navbar-toggler {
        background-color: #363636!important;
        border-color: #363636!important;
    }
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    /* navbar fixed-top */
    .navbar-fix {
        background-color: #363636!important;
        border-color: #363636!important;
    }
}
/* tablet */
@media screen and (max-width: 768px) {

}
/* smartphone */
@media screen and (max-width: 576px) {

}
/* small smartphone */
@media screen and (max-width: 343px) {
    
}