/* ------------------- body ------------------- */
.section-title {
    font-weight: 300;
    margin-bottom: 10px;
}
.section-div {
    padding: 17px 0;
}
/* ------- separate line between sections ------- */
.break-sections hr {
    height: 1px!important;
    border: none;
    margin: 8px auto;
}

/* ------- about me ------- */
.aboutme-div {
    padding: 0 17px 17px 17px;
}
/* image */
.aboutme-img {
    padding-right: 17px;
}
/* title and description */
.aboutme-title, .aboutme-name {
    font-size: 3rem;
}
.aboutme-comma {
    font-weight: 100;
}
.aboutme-name {
    letter-spacing: .075em;
    font-weight: 100;
}
.aboutme-text {
    font-size: 1.15rem;
    line-height: 1.7;
}

/* ------- experiences, education ------- */
/* list item */
.experiences-list-item {
    border: none;
    border-radius: 0!important;
    border-width: 1px!important;
    padding: 0 0 16px;
    padding-left: 1.618em;
}
.experiences-list-item:first-child {
    padding-top: 3px;
    margin-top: 12px;
}
.experiences-list-item:last-child {
    padding-bottom: 3px;
    margin-bottom: 12px;
}
/* links */
.experiences-list-item p a, .education-section a {
    text-decoration: none;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color .15s ease-out, color .15s ease-out;
}

/* ------- education ------- */
.education {
    padding: 0 0 17px;
}
.education-title {
    padding: 17px 0;
    margin: 0;
}
.education-section {
    padding: 17px;
}

/* ------- languages and tools ------- */
/* -- languages -- */
.languages-list li {
    list-style-type: none;
}
.languages-list li > * {
    padding-top: .5em;
    padding-bottom: .5em;
}
.languages-list li > *:first-child::before {
    padding-right: 10px;
    content: "\2022";
}
.languages-list li > *:first-child::before {
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
}
/* -- tools -- */
.tools-div {
    padding: 8px 0 0;
}
/* ------- hobbies ------- */
.hobbies-title {
    padding: 0 17px 17px;
    margin: 0;
}
.hobbies-div-imgs {
    padding: 17px 17px 0;
}
.hobbies-div-imgs img {
    max-width: 100%;
}
.hobbies-name {
    margin-top: 7px!important;
}


/* ------------------- media query ------------------- */
/* large tablet */
@media screen and (max-width: 992px) {
/* ------------------- body ------------------- */
    .body {
        margin-top: 98px;
    }
    .section-div {
        padding: 17px 20px;
    }

/* ------- about me ------- */
    .aboutme-div {
        padding: 0 0 17px;
    }
    /* title and description */
    .aboutme-title {
        font-size: 2.5rem;
    }
    .aboutme-name {
        font-size: 2.75rem;
    }
    .aboutme-text {
        font-size: 1.0rem;
        line-height: 1.5;
    }
}
/* tablet */
@media screen and (max-width: 767px) {
/* ------------------- body ------------------- */
    .body {
        margin-top: 93px;
    }

/* ------- about me ------- */
    /* image */
    .aboutme-img {
        padding-right: 0;
    }
    /* title and description */
    .aboutme-title {
        font-size: 2.25rem;
        margin-bottom: 24px;
    }
    .aboutme-name {
        font-size: 2.5rem;
    }
    .aboutme-text {
        font-size: 1.05rem;
        line-height: 1.7;
    }
/* ------- hobbies ------- */
    .hobbies-div-imgs div {
        padding: 15px;
    }
}
/* smartphone */
@media screen and (max-width: 576px) {
/* ------------------- body ------------------- */
    .body {
        margin-top: 80px;
    }

/* ------- about me ------- */
    /* title and description */
    .aboutme-title {
        font-size: 2.25rem;
    }
    .aboutme-name {
        font-size: 2.5rem;
    }
    .aboutme-text {
        font-size: 1rem;
        line-height: 1.7;
    }

    /* ------- tools div title ------- */
    .languages, .tools {
        padding: 17px;
    }
}
/* small smartphone */
@media screen and (max-width: 343px) {
/* ------- about me ------- */
    /* title and description */
    .aboutme-title {
        font-size: 1.75rem;
    }
    .aboutme-name {
        font-size: 2rem;
    }
    .aboutme-text {
        font-size: 0.95rem;
        line-height: 1.7;
    }
}